* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

#categorie {
  color: rgba(199, 67, 34, 0.863);
  margin: 10px 0px 5px 0px;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
}

.price {
  margin-bottom: 15px;
}

button {
  background-color: rgb(0, 132, 255);
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.4;
}
