* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin-top: 100px;
  margin-left: 20px;
}

.price {
  font-size: 30px;
  margin-bottom: 10px;
}

.price span {
  font-size: 15px;
  color: rgb(138, 137, 137);
}

.percentage {
  color: rgb(62, 133, 62);
  margin-bottom: 10px;
}

.hours {
  color: rgb(138, 137, 137);
}

.hours span {
  color: rgb(211, 74, 74);
}
