* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  margin-top: 100px;
  margin-left: 20px;
}

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

.name span {
  color: rgb(141, 137, 137);
  font-weight: 100;
}

.comment span a {
  text-decoration: none;
  color: rgba(0, 110, 255, 0.747);
}
